* {
  padding: 0;
  margin: 0;
  list-style: none; }

body a {
  color: black;
  text-decoration: none; }
  body a:hover {
    text-decoration: underline; }

header {
  background-color: black;
  padding: 20px;
  color: white; }
  header a {
    color: white; }
  header nav {
    text-align: right; }
    header nav ul li {
      display: inline-block;
      padding: 0 10px; }
      header nav ul li:last-child {
        padding-right: 0px; }

.content .quadro {
  display: none;
  background-color: grey;
  padding: 20px; }
