* {
  list-style: none;
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 20;
}
header nav {
  text-align: right;
}
header nav ul li {
  list-style: none;
  display: inline-block;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
}
header nav ul li a:hover {
  text-decoration: underline;
}
