* {
	padding:0;
	margin:0;
	list-style:none;
}

body {
	a {
		color: black;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

header {
	background-color:black;
	padding:20px;
	color:white;
	a {
		color:white;
	}
	nav {
		text-align: right;
		ul{
			li{
				display: inline-block;
				padding:0 10px;

				&:last-child {
					padding-right:0px;
				}
			}
		}
	}
}